@using CMS.Models
@model CMS.Models.BoardModel

<title>ViewData.title</title>

@if (Model != null)
{
    <h1>@Model.Name</h1>
}
else
{
    <span>
        <strong>
            THIS DEVICES DOES IS NOT FOUND
        </strong>
    </span>
}


