@using CMS.Models
@model List<CMS.Models.BoardModel>

<title>ViewData.title</title>

<h1>Devices</h1>
@if (Model != null)
{
    <table class="table table-hover table-striped">
        <thead >
        <tr>
            <td>
                Select
            </td>
            <td>
                #
            </td>
            <td>
                Device Name
            </td>
        </tr>
        </thead>
        <tbody>
        
        @foreach (BoardModel bord in Model)
        {
        <tr>
            <td>
                <a href="@Url.Action("BoardDetails", "Board", new {deviceId = bord.deviceID})">Details</a>
            </td>
            <th scope="row" >
                @bord.deviceID
            </th>
            <td>
                @bord.device_name
            </td>
        </tr>
        }
        </tbody>
    </table>
}
else
{
    <span>
        <strong>
            You do not have any devices. <br />
            Add your device using the Register button
        </strong>
    </span>
}

<a href="@Url.Action("BoardRegister", "Board")">Register</a>
